<html>
	<a href=<%= @request_token.authorize_url %>>Redirecting</a>
<!--- http://www.google.com/?oauth_token=kjsery.13FCF7AFC53.687474703A2F2F7777772E676F6F676C652E636F6D.3A15993DA9D8902744C77C20998BCA68&oauth_verifier=17DB90BFFC0E6AED6B6E1DD28A669231 -->
</html>